<div class="container main-container2 custome_position_table1">
    <div class="card">
        <div class="card-header">
            Real Time Data
        </div>
        <br>
        <div class="card-body table-responsive">

            <table #table1 mat-table [dataSource]="socketDataSource" class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="Id">
                  <th mat-header-cell *matHeaderCellDef> Id </th>
                  <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Label">
                  <th mat-header-cell *matHeaderCellDef> Label </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <!-- value Column -->
                <ng-container matColumnDef="String">
                  <th mat-header-cell *matHeaderCellDef> String </th>
                  <td mat-cell *matCellDef="let element"> {{element.unique_str}} </td>
                </ng-container>

                <!-- Timestamp Column -->
                <ng-container matColumnDef="Timestamp">
                  <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                  <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
            <mat-paginator #table1 [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
            
            <div *ngIf="socketDataSource.data.length === 0" class="text-muted">No records found!</div>
        </div>
    </div>
</div>
<br>
<br>

<div class="container main-container2 custome_position_table2">
    <div class="card">
        <div class="card-header">
            History (Search & Sort)
        </div>
        <br>
        <div class="card-body table-responsive">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
            </mat-form-field>

            <table #table2 mat-table [dataSource]="listDataSource" matSort class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                  <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Label </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <!-- value Column -->
                <ng-container matColumnDef="unique_str">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> String </th>
                  <td mat-cell *matCellDef="let element"> {{element.unique_str}} </td>
                </ng-container>

                <!-- Timestamp Column -->
                <ng-container matColumnDef="timestamp">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
                  <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

            </table>
            
            <mat-paginator #table2 [length]="totalPage" [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]" (page)="changePage($event)" showFirstLastButtons></mat-paginator>
            <div *ngIf="listDataSource.data.length === 0" class="text-muted">No records found!</div>
        </div>
    </div>
</div>
<br>
<br>